volumes
helpers
.vscode
./scs-manager/
!./scs-manager/drupal/web/sites
!./scs-manager/drupal/composer.json
*.env
*.env.local
.cursor
openrefine
configure_man
lontod/data/ontologies
ontology_resolver

