[submodule "jupyterhub"]
	path = jupyterhub
	url = git@github.com:soda-collections-objects-data-literacy/jupyterhub.git

[submodule "keycloak"]
	path = keycloak
	url = git@github.com:soda-collections-objects-data-literacy/keycloak.git

[submodule "open_gdb"]
	path = open_gdb
	url = git@github.com:FAU-CDI/open_gdb.git

[submodule "scs-manager-stack"]
	path = scs-manager-stack
	url = git@github.com:soda-collections-objects-data-literacy/scs-manager-stack.git

[submodule "webprotege"]
	path = webprotege
	url = git@github.com:protegeproject/webprotege.git

[submodule "scs-project-website-stack"]
	path = scs-project-website-stack
	url = git@github.com:soda-collections-objects-data-literacy/scs-project-website-stack.git

[submodule "scs-nextcloud-stack"]
	path = scs-nextcloud-stack
	url = git@github.com:soda-collections-objects-data-literacy/scs-nextcloud-stack.git
