services:
  # Nextcloud FPM
  nextcloud--nextcloud:
    image: nextcloud:31.0-fpm
    restart: unless-stopped
    volumes:
      - nextcloud-data:/var/www/html
      - ./hooks/post-installation:/docker-entrypoint-hooks.d/post-installation
    expose:
      - 80
      - 9000
    environment:
      - MYSQL_DATABASE=${NEXTCLOUD_DB_NAME:-nextcloud}
      - MYSQL_HOST=${NEXTCLOUD_DB_HOST:-scs--database}
      - MYSQL_PASSWORD=${NEXTCLOUD_DB_PASSWORD}
      - MYSQL_USER=${NEXTCLOUD_DB_USER:-nextcloud}
      - NEXTCLOUD_ADMIN_PASSWORD=${NEXTCLOUD_ADMIN_PASSWORD}
      - NEXTCLOUD_ADMIN_USER=${NEXTCLOUD_ADMIN_USER:-admin}
      - NEXTCLOUD_DOMAIN=${NEXTCLOUD_NEXTCLOUD_DOMAIN}
      - NEXTCLOUD_NEXTCLOUD_REVERSE_PROXY_DOMAIN=${NEXTCLOUD_NEXTCLOUD_REVERSE_PROXY_DOMAIN}
      - NEXTCLOUD_ONLYOFFICE_DOCUMENT_SERVER_DOMAIN=${NEXTCLOUD_ONLYOFFICE_DOCUMENT_SERVER_DOMAIN}
      - NEXTCLOUD_ONLYOFFICE_DOMAIN=${NEXTCLOUD_ONLYOFFICE_DOMAIN}
      - NEXTCLOUD_TRUSTED_DOMAINS=localhost ${NEXTCLOUD_NEXTCLOUD_DOMAIN} ${NEXTCLOUD_ONLYOFFICE_DOMAIN} nextcloud--nextcloud-reverse-proxy
      - ONLYOFFICE_JWT_SECRET=${NEXTCLOUD_ONLYOFFICE_JWT_SECRET}
      - OVERWRITEHOST=${NEXTCLOUD_NEXTCLOUD_DOMAIN}
      - OVERWRITEPROTOCOL=https
      - REDIS_HOST_PORT=${NEXTCLOUD_REDIS_HOST_PORT:-6379}
      - REDIS_HOST=${NEXTCLOUD_REDIS_HOST:-nextcloud--redis}
      - SCS_MANAGER_DOMAIN=${SCS_MANAGER_DOMAIN}
    depends_on:
      - nextcloud--redis
    networks:
      - nextcloud

  # OnlyOffice Document Server
  nextcloud--onlyoffice-document-server:
    image: onlyoffice/documentserver:8.3
    restart: unless-stopped
    environment:
      - JWT_ENABLED=true
      - JWT_SECRET=${NEXTCLOUD_ONLYOFFICE_JWT_SECRET}
      - JWT_HEADER=Authorization
      - JWT_IN_BODY=true
    networks:
      - nextcloud
    depends_on:
      - nextcloud--nextcloud
    expose:
      - '80'
      - '443'
    volumes:
      - onlyoffice-data:/var/www/onlyoffice/Data
      - onlyoffice-log:/var/log/onlyoffice

  # Nginx Reverse Proxy for Nextcloud
  nextcloud--nextcloud-reverse-proxy:
    image: nginx:1.27
    restart: unless-stopped
    volumes:
      - ./reverse-proxy/nginx.conf:/etc/nginx/nginx.conf
      - nextcloud-data:/var/www/html:ro
    depends_on:
      - nextcloud--nextcloud
      - nextcloud--onlyoffice-document-server
    networks:
      - nextcloud
    ports:
      - "${NEXTCLOUD_NEXTCLOUD_PORT:-8080}:80"

  # OnlyOffice Reverse Proxy
  nextcloud--onlyoffice-reverse-proxy:
    image: nginx:1.27
    restart: unless-stopped
    volumes:
      - ./onlyoffice-proxy/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - nextcloud--onlyoffice-document-server
    networks:
      - nextcloud
    ports:
      - "${NEXTCLOUD_ONLYOFFICE_PORT:-8081}:80"

  # Redis for Nextcloud caching
  nextcloud--redis:
    image: redis:alpine
    restart: unless-stopped
    networks:
      - nextcloud

volumes:
  nextcloud-data:
    name: nextcloud-data
  onlyoffice-data:
    name: onlyoffice-data
  onlyoffice-log:
    name: onlyoffice-log

networks:
  nextcloud:
    name: nextcloud
    driver: bridge
