services:
  # Nextcloud FPM
  nextcloud:
    image: nextcloud:31.0-fpm
    restart: unless-stopped
    volumes:
      - nextcloud-data:/var/www/html
      - ./hooks/post-installation:/docker-entrypoint-hooks.d/post-installation
    expose:
      - 80
      - 9000
    environment:
      - SCS_DOMAIN=${SCS_DOMAIN:-localhost}
      - ONLYOFFICE_JWT_SECRET=${ONLYOFFICE_JWT_SECRET}
      - MYSQL_HOST=${MYSQL_HOST:-nextcloud-db}
      - MYSQL_DATABASE=${NEXTCLOUD_DB_NAME:-nextcloud}
      - MYSQL_USER=${NEXTCLOUD_DB_USER:-nextcloud}
      - MYSQL_PASSWORD=${NEXTCLOUD_DB_PASSWORD}
      - NEXTCLOUD_ADMIN_USER=${NEXTCLOUD_ADMIN_USER:-admin}
      - NEXTCLOUD_ADMIN_PASSWORD=${NEXTCLOUD_ADMIN_PASSWORD:-admin}
      - NEXTCLOUD_TRUSTED_DOMAINS=localhost nextcloud.${SCS_DOMAIN} ${SCS_DOMAIN} office.${SCS_DOMAIN} nextcloud-reverse-proxy
      - OVERWRITEPROTOCOL=https
      - OVERWRITEHOST=nextcloud.${SCS_DOMAIN}
      - REDIS_HOST=redis
      - REDIS_HOST_PORT=6379
    depends_on:
      - redis
    networks:
      - nextcloud

  # OnlyOffice Document Server
  onlyoffice-document-server:
    image: onlyoffice/documentserver:8.3
    restart: unless-stopped
    environment:
      - JWT_ENABLED=true
      - JWT_SECRET=${ONLYOFFICE_JWT_SECRET}
      - JWT_HEADER=Authorization
      - JWT_IN_BODY=true
    networks:
      - nextcloud
    depends_on:
      - nextcloud
    expose:
      - '80'
      - '443'
    volumes:
      - onlyoffice-data:/var/www/onlyoffice/Data
      - onlyoffice-log:/var/log/onlyoffice

  # Nginx Reverse Proxy for Nextcloud
  nextcloud-reverse-proxy:
    image: nginx:1.27
    restart: unless-stopped
    volumes:
      - ./reverse-proxy/nginx.conf:/etc/nginx/nginx.conf
      - nextcloud-data:/var/www/html:ro
    depends_on:
      - nextcloud
      - onlyoffice-document-server
    networks:
      - nextcloud
    ports:
      - "${NEXTCLOUD_PORT:-8080}:80"

  # OnlyOffice Reverse Proxy
  onlyoffice-reverse-proxy:
    image: nginx:1.27
    restart: unless-stopped
    volumes:
      - ./onlyoffice-proxy/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - onlyoffice-document-server
    networks:
      - nextcloud
    ports:
      - "${ONLYOFFICE_PORT:-8081}:80"

  # Redis for Nextcloud caching
  redis:
    image: redis:alpine
    restart: unless-stopped
    networks:
      - nextcloud

volumes:
  nextcloud-data:
  onlyoffice-data:
  onlyoffice-log:

networks:
  nextcloud:
    name: nextcloud
    driver: bridge
